<div class="containerTitle">
  <h1 class="titleTableClients">Table Clients</h1>
  <h3 class="informationInputs">Enter The Data Please</h3>
</div>
<div class="containerInputs">
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Number Person</mat-label>
    <input matInput type="number">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Telephone</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Address</mat-label>
    <input matInput>
  </mat-form-field>
</div>


 

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="telephone">
      <mat-header-cell *matHeaderCellDef> Telephone </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.telephone}} </mat-cell>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

