
    <div class="example-sidenav-content">
      <mat-toolbar color="primary">
        <button   class="example-icon"  mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
        <span class="titleApp">My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
    </div>
    <div class="container-Menu">
        <a routerLink="Pay"  class="option-menu"> To Pay</a>
        <a routerLink="Client"  class="option-menu">Clients</a>
        <a routerLink="Product"  class="option-menu">Products</a>
        <a routerLink="Purchase"  class="option-menu">Purchase</a>
        <a routerLink="Invoice"  class="option-menu">Invoice</a>
     </div>
  
  

 