 .example-spacer {
    flex: 1 1 auto;
  }
  
  .example-container {
    width: 100%;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: contents; 
  }
  .container-Menu{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
  
  /* .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  
  
  */
  .title-menu {
      padding: 22px;
      background: #3f51b5;
      text-align: center;
      color: white;
      font-size: 19px;

  }
  
.example-icon{
  background: transparent;
    border: none;
    color: white;
}
.option-menu{
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-right: 1px solid;
  text-decoration: none;
  
}
.titleApp {
  margin-left: 45%;
}
   